.header {
  font-family: 'Playfair Display', serif;
  font-size: 80px;
 text-align: center;
 color: #FFFFFF;
 text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul {
  display: flex;  
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  flex: 1;  
  text-align: center; 
}

a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: "Luna", serif;
}


body {
  background-image: url("images/backround2.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0; 
  padding: 0; 
}

